{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    {% if page_obj.number|add:'-3' > 1 %}
    <li class="pagination__item">
        <a href="?{{ request.GET.urlencode }}&page=1">1</a>
    </li>
    {% endif %}
    {% if page_obj.number|add:'-3' >= 3 %}
    <li class="pagination__item pagination__item--dots">
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number|add:'-3' }}">
            <span class="pagination__link">• • •</span>
        </a>
    </li>
    {% endif %}
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="pagination__item active">
        <a class="pagination__link" href="#">{{ num }}</a>
    </li>
    {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
    <li class="pagination__item">
        <a class="pagination__link" href="?{{ request.GET.urlencode }}&page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
    <li class="pagination__item pagination__item--dots">
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number|add:'3' }}">
            <span class="pagination__link">• • •</span>
        </a>
    </li>
    {% endif %}
    {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
    <li class="pagination__item">
        <a class="pagination__link"
           href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">
            {{ page_obj.paginator.num_pages }}
        </a>
    </li>
    {% endif %}
    {% endif %}
</ul>
{% endif %}
 '''Описав правильно і зрозуміло класи, використав змінні, такі як is_paginated, page_obj, request, previous_page_number та num_pages, щоб забезпечити правильну пагінацію.'''