{% load movie_tag %}

<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Пошук фільму</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введіть назву..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>

<!-- Preference -->
<form action="{% url 'filter' %}" method="get" name="filter">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Жанри</h3>
        <ul class="genre-list w3layouts-box-list">
            {% for genre in view.get_genres %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                <span class="span editContent">{{ genre.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="left-side my-4">
        <h3 class="sear-head editContent">Рік</h3>
        <ul class="year-list w3layouts-box-list">
            {% for movie in view.get_years %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
                <span class="span editContent">{{ movie.year }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <button type="submit">Знайти</button>
</form>
<!-- // Preference -->
{% get_last_movies count=3 %}
