{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    {% block container %}
    <div class="container-fluid py-md-3">
        {% endblock container %}
        <div class="row">
            {% block sidebar %}
            <div class="side-bar col-lg-3">
                {% endblock sidebar %}
                {% include 'include/sidebar.html' %}
            </div>
            {% block movie %}
            {% endblock movie %}
        </div>
    </div>
</section>
{% endblock content %}

#You can substitute movie.title for actor.name in the title block. Fix this so that the page title reflects the actor's name.
#You are using movie instead of actor in the Director and Actor blocks. Correct this to display the movies the actor has appeared in.
